@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --pretoTransparente: rgba(0, 0, 0, .4);
}

body{
    width: 100%;
}

nav{
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 20px 0;
}

nav > h1{
    display: inline-block;
    font: normal normal 2.5em 'Passion One';
    padding: 10px 0 0 0;
}

nav > h1::first-letter{
    font-size: 1.4em;
}

nav > p{
    font: normal bold .9em Arial;
    padding: 2px 0;
}

nav > p > span{
    font: normal lighter 1em Arial;
}

nav > span{
    color: var(--preto);
}
